

@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,500;5..1200,600;5..1200,700&display=swap');


* {
  margin: 0;
  padding: 0;
  background-color: black;
  place-items: center;
 /*  background-image: url(https://blackculturetv.files.wordpress.com/2020/03/0wvqi6qybv-kb9exltgk1_zw_vnqh0fvmzpcxopgpvg.jpg?w=1200);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */
}

body {
  font-family: 'Playfair', serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(255, 255, 255);
}

.logo:hover{
  text-decoration: none;
}

a,
.btn {
  transition: all 300ms ease;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  color: white;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(112, 112, 112);
  text-decoration: line-through;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  color: white;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

h1{
  display: block;
  font-size: 200px;
  text-align: left;
  max-width: 475px;
  padding-left: 100px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    margin-top: 50px;
}

.hero img {
    height: 37.5rem;
    width: auto;
   border-radius: 20%;
}

.bio {
  width: 30rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  margin-left: 20px;
}

.bio h2 {
    font-size: 45px;
  margin-bottom: var(--bottom-margin);
}

.bio p {
    font-size: 30px;
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}
  
.skill-header {
    margin-bottom: 1rem;
}
  
.skills-wrapper img {
    padding: 1.25rem;
}
  
.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.experience {
  font-size: larger;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h3 {
  text-decoration: underline;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 10px;
  margin-top: 25px;
}

h4 {
  text-align: center;
  font-size: 1.4em;
  margin: 10px 0;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin: 5px 0;
}